# ---- Minecraft ---- #
cache/
libraries/
logs/
versions/
world/
world_nether/
world_the_end/

.console_history
usercache.json
version_history.json


# ---- Dynmap ---- #
plugins/dynmap/colorschemes/
plugins/dynmap/export/
plugins/dynmap/markers/
plugins/dynmap/renderdata/
plugins/dynmap/texturepacks/
plugins/dynmap/web/

plugins/dynmap/templates/normal*
plugins/dynmap/templates/nether*
plugins/dynmap/templates/the_end*

plugins/dynmap/ids-by-ip.txt
plugins/dynmap/lightings.txt
plugins/dynmap/markers.yml
plugins/dynmap/markers.yml.old
plugins/dynmap/perspectives.txt
plugins/dynmap/shaders.txt
plugins/dynmap/version.txt
plugins/dynmap/world.pending
plugins/dynmap/world_nether.pending
plugins/dynmap/world_the_end.pending


# ---- Fast Chunk Pregenerator ---- #
plugins/FastChunkPregenerator/loaded

plugins/FastChunkPregenerator/taskLoadCache.json


# ---- JoelGodOfWarPlugins ---- #
plugins/DragonDropElytra/lang/
plugins/ShulkerRespawner/lang/

# ---- FactionsUUID ---- #
plugins/Factions/data

plugins/Factions/tags.json
plugins/Factions/lang.yml
